@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "../public/fonts/atyp/stylesheet.css";

@layer utilities {

  .projectSlider {
    //max-width: 33.33333%;
    //min-width: 8.4rem;
    width:100%;
  }

  .projectSliderHover {
    //position: relative;
    width: 100%;
    display: flex;
    flex-basis: auto ;

    .slideItem {

    }
  }

}
