@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F4F4F4 ;
  opacity: 1;
}

@import "../public/fonts/atyp/stylesheet.css";

@layer utilities {

}
